.jumbotron {
  background: url(../bridge_large.jpg) center center no-repeat;
  height: 50em;
  background-size: cover;
  margin-bottom: 0px;
  width: 100%;
}

.jumbotron .container-fluid {
    position: relative;
    text-align: center;
    top:6em;
    color: white;
}

.partitionSize {
    height: 40em;
    top: 6em;
    margin-bottom: 0px;
    position: relative;
    text-align: center;
}